$contentClass = '.theme-default-content'

$BnavbarHeight ?= 50px

// colors
$accentColor ?= #3eaf7c
$textColor ?= #000
$borderColor ?= #990
$codeBgColor ?= #282c34
$arrowBgColor ?= #ccc
$badgeTipColor ?= #42b983
$badgeWarningColor ?= darken(#ffe564, 35%)
$badgeErrorColor ?= #DA5961

// Color A
$colorAprimary ?= #3E6F8F
$colorAprimaryRGB ?= 62, 111, 143
$colorAsecondary ?= #76C8D5
$textColorA ?= #000
$textColorASecond ?= #575D61
$textColorAHighlight ?= #384147
$textColorAThird ?= #686868
$linkColorA ?= #20A6FF

$colorPrimary ?= $colorAprimary
$colorSecondary ?= $colorAsecondary
$textColorHighlight ?= $textColorAHighlight
$textColorPrimary ?= $colorAprimary
$textColorThird ?= $textColorAThird
$colorPrimaryRGB ?= $colorAprimaryRGB
$bgColor ?= #e8e8e8
$labelColor ?= #AAAAAA
$linkColor ?= $linkColorA

// Other layout variants
$adsSidebarWidth ?= 300px

// Font
$bodyFontSize ?= 13px
$fsMediumText ?= 16px
$fsMedium ?= 20px
$fsLarge ?= 36px
$fsDetailTitle ?= 25px

// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px
$MQSmall = 1199px
$ScreenLG = 1200px
$ScreenMD = 992px
$ScreenSM = 768px
$ScreenXS = 480px
$ScreenXL = 1440px
